@inherits LayoutComponentBase

@*
 * FluentUI stuff
 *@
<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />

<FluentLayout Style="overflow-y: hidden;">
    <FluentStack Class="main" Style="height:100vh;" Width="100%">
        <NavMenu/>
        <FluentBodyContent Class="body-content">
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>
