@rendermode InteractiveServer


<div class="navmenu">
        <FluentAppBar>
            <FluentAppBarItem Href="" Match="NavLinkMatch.All"
                              IconRest="HomeIcon()"
                              IconActive="HomeIcon(active: true)"
                              Text="Home"/>
            <FluentAppBarItem Href="manage"
                              IconRest="ManageIcon()"
                              IconActive="ManageIcon(active: true)"
                              Text="Manage"/>
            <FluentAppBarItem Href="external"
                              IconRest="ExternalIcon()"
                              IconActive="ExternalIcon(active: true)"
                              Text="External APIs"/>
            <FluentAppBarItem Href="metrics"
                              IconRest="MetricsIcon()"
                              IconActive="MetricsIcon(active: true)"
                              Text="Polling Metrics"/>
        </FluentAppBar>
</div>

@code {

    private static Icon HomeIcon(bool active = false) =>
        active ? new Icons.Filled.Size24.Home()
            : new Icons.Regular.Size24.Home();

    private static Icon ManageIcon(bool active = false) =>
        active ? new Icons.Filled.Size24.Add()
            : new Icons.Regular.Size24.Add();

    private static Icon ExternalIcon(bool active = false) =>
        active ? new Icons.Filled.Size24.HeartCircleHint()
            : new Icons.Regular.Size24.HeartCircleHint();

    private static Icon MetricsIcon(bool active = false) =>
        active ? new Icons.Filled.Size24.ChartMultiple()
            : new Icons.Regular.Size24.ChartMultiple();

}